@tailwind base;
@tailwind components;
@tailwind utilities;

/* Change this for controlling theme on page load - Default theme */
@media (prefers-color-scheme: light) { 
  :root {
    --background: #0a0a0a;;
    --foreground: #ededed;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: #ededed;
    --foreground: #1f2937;
    --card: #ededed;
    --card-foreground: #1f2937;
    --popover: #ededed;
    --popover-foreground: #1f2937;
    --primary: #3e3e3e;
    --primary-foreground: #fafafa;
    --secondary: #f9f9f9;
    --secondary-foreground: #3e3e3e;
    --muted: #f9f9f9;
    --muted-foreground: #767676;
    --accent: #f9f9f9;
    --accent-foreground: #3e3e3e;
    --destructive: #ff4c4c;
    --destructive-foreground: #fafafa;
    --border: #e6e6e6;
    --input: #e6e6e6;
    --ring: #1f2937;
    --chart-1: #ff7a7a;
    --chart-2: #29a87b;
    --chart-3: #4981a3;
    --chart-4: #edc452;
    --chart-5: #fb9c4a;
    --radius: 0.5rem;
  }
  .dark {
    --background: #1f2937;
    --foreground: #ededed;
    --card: #1f2937;
    --card-foreground: #ededed;
    --popover: #1f2937;
    --popover-foreground: #ededed;
    --primary: #ededed;
    --primary-foreground: #3e3e3e;
    --secondary: #262626;
    --secondary-foreground: #ededed;
    --muted: #262626;
    --muted-foreground: #a4a4a4;
    --accent: #262626;
    --accent-foreground: #ededed;
    --destructive: #a12121;
    --destructive-foreground: #ededed;
    --border: #262626;
    --input: #262626;
    --ring: #7a7a7a;
    --chart-1: #2952ff;
    --chart-2: #4066b8;
    --chart-3: #cc8844;
    --chart-4: #aa59cc;
    --chart-5: #eb406e;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
